@{
    Layout = "_Layout";
}

@using GameStop.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email, new {style="padding-right: 20px;"})
    @Html.TextBoxFor(m => m.Email)<br><br>

    @Html.LabelFor(m => m.Password, new {style="padding-right: 20px;"})
    @Html.EditorFor(m => m.Password)<br><br>

    <input type="submit" value="Log in" /><br><br>
}

<p>@Html.ActionLink("Register for an account", "Register")</p>
<p>@Html.ActionLink("Back to accounts page", "Index")</p>