@{
  Layout = "_Layout";
}

@using GameStop.Models;

<h2>Video Games for @User.Identity.Name</h2>

@if (@Model.Count == 0)
{
  <h5>No Video Games have been added yet!</h5><br>
} 
else
{
  <ul>
    @foreach (VideoGame videogame in Model)
    {
      <li>@Html.ActionLink($"{videogame.Name}", "Details", new { id = videogame.VideoGameId }) | @videogame.Gamer.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a new Video Game!", "Create")</p>
