@{
    Layout = "_Layout";
}

@using GameStop.Models
@model GameStop.Models.Tag

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

@if (@Model.JoinEntities.Count == 0)
{
    <p>This tag does not belong to any Video Games</p>
}
else
{
    <h4>Video Games the tag belongs to:</h4><br>
    <ul>
    @foreach (VideoGameTag join in Model.JoinEntities)
        {
            <li style="list-style-position: inside; padding-right: 45px;">@join.VideoGame.Name</li><br>
            @using (Html.BeginForm("DeleteJoin", "Tags"))
            {
                @Html.Hidden("joinId", @join.VideoGameTagId)
                <input type="submit" value="Delete" style="margin-right: 40px;" class="btn btn-dark"/>
            }
        }
    </ul>
}
<br><p>@Html.ActionLink("Add a Video Game to this Tag!", "AddVideoGame", new { id = Model.TagId })</p>